@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.fullArea {
  padding-top: 90px;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 0px;
  background-color: white;
}
.container {
  margin-top: 50px;
  height: auto;
}
.left {
  padding: 0;
  height: max-content;
}
.right {
  padding: 0;
}
.boxRight {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.box1 {
  width: 100%;
  height: 180px;
  background-color: #6379f4;
  border-radius: 20px;
  color: white;
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
}

.textBox1Left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.balance {
  font-size: 18px;
  font-weight: 400;
}

.saldo {
  font-size: 40px;
  font-weight: 700;
}
.phone {
  font-size: 14px;
  font-weight: 500;
}
.box1Button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.boxButton {
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}

.boxButton:hover,
.boxButton:active,
.boxButton:focus {
  box-shadow: #6379f4;
  background-color: white;
  color: #6379f4;
  outline: white;
  border: 2px solid white;
  font-weight: 700;
}

.textBox1Right {
  margin-bottom: 0;
  font-size: 18px;
}

.box2 {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box2Left {
  width: 51%;
  padding: 30px;
  height: 81%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2Right {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  height: 81%;
  background-color: white;
  padding: 30px;
  overflow-y: scroll;
}

.box2Right::-webkit-scrollbar-track {
  border: 1px solid #9f9f9f;
  padding: 2px 0;
  background-color: #9f9f9f;
  bottom: 0;
  border-radius: 5px;
}

.box2Right::-webkit-scrollbar {
  width: 10px;
}

.box2Right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #4f5665;
  background-color: #4f5665;
  border: 1px solid #4f5665;
}

.boxTransaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.textBox2Right1 {
  font-size: 18px;
  font-weight: 700;
  color: #3a3d42;
  margin-bottom: 0;
}

.textBox2Right2 {
  font-size: 14px;
  font-weight: 600;
  color: #6379f4;
  margin-bottom: 0;
  cursor: pointer;
}

.boxTransaction2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.imgProfile {
  border-radius: 10px;
}
.textProfile {
  margin-left: 10px;
}
.textBox2Right3 {
  font-size: 16px;
  font-weight: 700;
  color: #4d4b57;
}
.textBox2Right4 {
  font-size: 14px;
  font-weight: 400;
  color: #7a7886;
}

.textBox2Right5 {
  width: 100%;
  background-color: aquamarine;
  font-size: 16px;
  font-weight: 700;
  color: #1ec15f;
}

.textBox2Right6 {
  font-size: 16px;
  font-weight: 700;
  color: #ff5b37;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 100%;
}
.boxInput1 {
  width: 100%;
  padding: 20px;
}

.placeholder {
  height: 60px;
  padding-bottom: 0;
  border: 0;
  background-color: transparent;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.placeholder::placeholder {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #b5bdcc;
}

.placeholder:hover,
.placeholder:active,
.placeholder:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.boxForm {
  width: 100%;
}

.textMoney {
  font-size: 16px;
  font-weight: 700;
  color: #3a3d42;
}

.boxNote {
  margin-top: 50px;
  width: 100%;
}

.iconForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.placeholder1::placeholder {
  color: rgba(169, 169, 169, 0.6);
  opacity: 1;
}

.placeholder1 {
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  height: 45px;
}

.placeholder1:focus,
.placeholder1:active,
.placeholder1 option:focus,
.placeholder1 option:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #6379f4;
}
.boxButtonContinue {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 20px;
}
.buttonForm {
  width: 170px;
  border-radius: 10px;
  background-color: #6379f4;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.buttonForm:hover,
.buttonForm:active,
.buttonForm:focus {
  color: white;
}

.buttonForm1 {
  width: 170px;
  border-radius: 10px;
  background-color: #ff5b37;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-right: 20px;
}

.buttonForm1:hover,
.buttonForm1:active,
.buttonForm1:focus {
  color: white;
}

.textPin {
  font-size: 16px;
  font-weight: 400;
  color: rgba(58, 61, 66, 0.6);
}

@media (max-width: 1200px) {
  .left {
    width: 0%;
  }
  .right {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    position: relative;
  }
}
