@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.navbar {
  padding: 0;
  height: 5em;
  padding-left: 5em;
  padding-right: 5em;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.rowNavbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textLogo {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: #6379f4;
}

.buttonLogin {
  background-color: white;
  border: 2px solid #6379f4;
  width: 8em;
  border-radius: 8px;
  margin-right: 20px;
  color: #6379f4;
  font-weight: 600;
}

.buttonSignUp {
  background-color: #6379f4;
  width: 8em;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.buttonLogin:active,
.buttonLogin:hover,
.buttonLogin:focus,
.buttonSignUp:focus,
.buttonSignUp:active,
.buttonSignUp:hover,
.buttonTryIt:focus,
.buttonTryIt:active,
.buttonTryIt:hover {
  background-color: #3951da;
  color: white;
}

.content1 {
  padding-top: 10em;
  background-color: white;
  padding-left: 5em;
  padding-right: 5em;
  height: auto;
  padding-bottom: 3em;
}

.boxLayer {
  width: min-content;
  height: min-content;
}

.layer {
  height: 40em;
  width: auto;
  object-fit: cover;
  position: relative;
  top: 0em;
}

.phone {
  height: 48em;
  width: auto;
  position: absolute;
  left: 5em;
  top: 3em;
}
.boxContent1,
.boxContent4 {
  height: 100%;
  display: flex;
  padding: 8em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textTitleContent1,
.textTitleContent4 {
  font-size: 53px;
  margin-bottom: 1em;
}

.textBold {
  color: #6379f4;
}

.buttonTryIt {
  width: 10em;
  border-radius: 8px;
  background-color: #6379f4;
  color: white;
  font-size: 600;
  margin-bottom: 20px;
}

.gplay,
.appstore {
  cursor: pointer;
  object-fit: cover;
  margin-right: 20px;
}

.content2 {
  background-color: rgba(71, 58, 209, 0.137);
  padding: 5em;
}

.logoCompany {
  object-fit: contain;
}

.boxLogoCompany {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content3 {
  padding: 5em;
}

.boxContent3 {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.boxAboutApp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textInfoAboutApp {
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.boxLogo {
  background-color: white;
  border-radius: 10px;
  width: 20em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding: 8px;
  background-color: rgba(71, 58, 209, 0.137);
  border-radius: 100%;
  margin-bottom: 30px;
}

.textLogoContent3,
.textLogoContent5 {
  font-size: 18px;
  font-weight: bold;
}

.textInfoLogo {
  font-size: 14px;
  text-align: center;
}

.content4 {
  padding-top: 2em;
  background-color: rgba(71, 58, 209, 0.137);
  padding-left: 5em;
  padding-right: 5em;
  height: auto;
  padding-bottom: 0;
}
.boxLayerContent4 {
  width: min-content;
  height: min-content;
  position: relative;
}
.layerContent4 {
  padding-top: 5em;
  height: 45em;
  width: auto;
  object-fit: cover;
  position: relative;
  top: 0em;
}

.phoneContent4 {
  height: 48em;
  width: auto;
  position: absolute;
  left: 0.5em;
  top: -2em;
}

.boxFeature {
  border-radius: 10px;
  padding: 1em;
  background-color: white;
  margin-bottom: 2em;
  width: 100%;
}
.textTitleFeature {
  font-weight: bold;
}

.textInfoFeature {
  font-size: 12px;
}

.boxTestimoni {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.boxProfile {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #6379f4;
  padding: 5em;
}
.textLogoFooter {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: white;
}

.textInfoFooter {
  font-size: 16px;
  color: white;
  font-weight: lighter;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.header {
  color: white;
}

.contact,
.boxContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.textInfoContact {
  font-size: 16px;
  color: white;
  font-weight: lighter;
  line-height: 1.5em;
  margin-bottom: 30px;
  margin-right: 20px;
}
@media (max-width: 900px) {
  .navbar {
    padding-left: 3em;
    padding-right: 3em;
  }
  .rowNavbar {
    flex-direction: row;
  }

  .buttonLogin,
  .buttonSignUp {
    width: 6em;
  }

  .content1 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .boxLayer,
  .boxLayerContent4 {
    display: none;
  }
  .boxContent1,
  .boxContent4 {
    padding: 0;
  }

  .textTitleContent1,
  .textTitleContent4 {
    font-size: 35px;
  }

  .content2,
  .content3,
  .content4,
  .footer {
    padding: 3em;
  }

  .contact {
    width: 100%;
  }

  .logoCompany {
    width: 3em;
  }

  .boxContent3 {
    align-items: center;
    justify-content: center;
  }

  .boxAboutApp {
    align-items: flex-start;
  }

  .textInfoAboutApp {
    width: 100%;
    text-align: left;
    font-size: 16px;
  }
  .textInfoLogo {
    font-size: 12px;
  }
  .boxLogo {
    width: 100%;
    padding: 1em;
  }

  .boxProfile {
    width: 70%;
    padding: 2em;
  }

  .textLogoContent5 {
    text-align: center;
  }
}
