@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.boxMenuLeft {
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  width: 260px;
  height: 678px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.rowMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  color: rgba(58, 61, 66, 0.8);
  border: 0;
  background-color: white;
}

.rowMenuActive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
  border: 0;
  background-color: #6379f4;
  border-radius: 10px;
}
.rowMenu:hover,
.rowMenu:focus,
.rowMenu:active {
  background-color: #6379f4;
  box-shadow: #6379f4;
  outline: #6379f4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.rowMenuActive:hover,
.rowMenuActive:focus,
.rowMenuActive:active {
  background-color: #6379f4;
  box-shadow: #6379f4;
  outline: #6379f4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.listMenuTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.imgMenu {
  margin-right: 10px;
  display: flex;
  z-index: 0;
}
.textMenu {
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.listMenuBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .boxMenuLeft {
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 10;
    margin-bottom: 0;
    border-radius: 0;
  }
  .listMenuTop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
  }
  .listMenuBottom {
    height: 100% !important;
    width: 20%;
    flex-direction: row;
  }
  .textMenu {
    display: none;
  }

  .rowMenu {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .imgMenu {
    margin-right: 0;
  }
}
