@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.boxMenuLeft {
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  width: 270px;
  height: 678px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.rowMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  color: rgba(58, 61, 66, 0.8);
  border: 0;
  background-color: white;
}
.rowMenu:hover,
.rowMenu:focus,
.rowMenu:active {
  background-color: #6379f4;
  box-shadow: #6379f4;
  outline: #6379f4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.listMenuTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.imgMenu {
  margin-right: 10px;
  display: flex;
  z-index: 0;
}
.textMenu {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}
.listMenuBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
