@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.fullArea {
  padding-top: 90px;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 60px;
  background-color: #e5e8ed;
}
.container {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  position: relative;
}
.left {
  padding: 0;
}
.right {
  padding: 0;
}

.boxRight {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.profile {
  width: 500px;
  display: flex;
  height: 600px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.imgMenu {
  position: absolute;
}

.imgProfile {
  border-radius: 10px;
}
.boxEdit {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #7a7886;
}

.boxEdit:hover {
  background-color: white;
  color: #6379f4;
  cursor: pointer;
  border-radius: 3px;
  border-left: 5px solid #6379f4;
}
.imgEdit {
  margin-right: 20px;
}
.textEdit {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.boxName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nameProfile {
  font-size: 24px;
  font-weight: 700;
  color: #4d4b57;
}
.phoneProfile {
  font-size: 16px;
  font-weight: 400;
  color: #7a7886;
}

.boxButton {
  width: 100%;
  display: flex;
  background-color: #e5e8ed;
  color: #4d4b57;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 60px;
  font-weight: 700;
  border: 0;
}

.boxButton:hover,
.boxButton:focus,
.boxButton:active {
  border-left: 10px solid #6379f4;
  background-color: #e5e8ed;
  box-shadow: none !important;
  outline: none !important;
  font-weight: bold;
  color: #6379f4;
}

.textButton {
  font-size: 16px;
  margin-bottom: 0;
}

/** =========================== */
.formUserImage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 82px;
  height: 82px;
}

.boxUpdateImage {
  /* background-color: #6379f4; */
  background-color: transparent;
  color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  visibility: visible;
  margin: auto;
  cursor: pointer;
  display: flex;
  z-index: 2;
}

.updateImage {
  color: transparent;
  width: 82px;
  height: 82px;
  border-radius: 100%;
  visibility: hidden;
  margin: auto;
  cursor: pointer;
  z-index: 0;
  display: flex;
}

.modal {
  background-color: #6379f475;
  padding-top: 10%;
}

.modalTitle {
  color: #6379f4;
  font-weight: 600;
}

.modalFooter {
  background-color: #4d4b57;
  color: #6379f4;
  width: 100px;
}

.modalFooter:hover {
  background-color: #6379f4;
  color: white;
  border: 0;
}

.modalHeader {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #4d4b57;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.textResponse {
  width: auto;
  height: auto;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #848484;
  text-align: center;
}

.colResponse {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .left {
    width: 0%;
  }
  .right {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    position: relative;
  }
  .boxRight {
    padding: 20px;
  }
  .boxButton {
    width: 90%;
  }
}
