@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.fullArea {
  padding-top: 90px;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 60px;
  background-color: #e5e8ed;
}
.container {
  margin-top: 50px;
  height: auto;
}
.left {
  padding: 0;
}
.right {
  padding: 0;
}

.boxRight {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.profile {
  width: 100%;
  display: flex;
  height: 600px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.titleSetting {
  font-size: 18px;
  font-weight: 700;
  color: #3a3d42;
}
.listReceiver {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.boxButton {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.boxButton:hover {
  background-color: #6379f4;
}

.textProfile {
  width: 100%;
  margin-left: 20px;
}
.boxImage {
  margin: auto;
}

.imgProfile {
  border-radius: 10px;
}

.textBox2Right3 {
  font-size: 18px;
  font-weight: 700;
  color: #4d4b57;
}

.textBox2Right4 {
  font-size: 16px;
  font-weight: 400;
  color: #7a7886;
  margin-bottom: 0;
}

.boxTextSetting {
  margin-top: 30px;
  width: 40%;
}

.textSetting {
  font-size: 16px;
  font-weight: 400;
  color: #7a7886;
}

.boxTransferField {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 100%;
}
.boxInput1 {
  width: 100%;
  padding: 20px;
}

.placeholder {
  height: 60px;
  padding-bottom: 0;
  border: 0;
  background-color: transparent;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.placeholder::placeholder {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #b5bdcc;
}

.placeholder:hover,
.placeholder:active,
.placeholder:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.boxForm {
  width: 50%;
}

.textMoney {
  font-size: 16px;
  font-weight: 700;
  color: #3a3d42;
}

.boxNote {
  margin-top: 50px;
  width: 100%;
}

.iconForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.placeholder1::placeholder {
  color: rgba(169, 169, 169, 0.6);
  opacity: 1;
}

.placeholder1 {
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  height: 45px;
}

.placeholder1:focus,
.placeholder1:active,
.placeholder1 option:focus,
.placeholder1 option:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #6379f4;
}
.boxButtonContinue {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 20px;
}
.buttonForm {
  width: 170px;
  border-radius: 10px;
  background-color: #6379f4;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.buttonForm:hover,
.buttonForm:active,
.buttonForm:focus {
  color: white;
}
